<section
  class="d-flex justify-content-center align-items-center flex-column my-4"
>
  <app-star [dataFromParent]="title" [customColor]="portfolioColor"></app-star>
  <div class="container">
    <div class="row g-5">
      @for (src of imageSrc; track $index) {
      <div class="col-md-6 col-lg-4">
        <figure class="position-relative" (click)="open(src)">
          <img [src]="src" class="w-100 rounded-3" alt="photo" />
          <figcaption
            class="position-absolute d-flex justify-content-center align-items-center top-0 start-0 end-0 bottom-0 w-100 h-100 rounded-3 bg-sec"
          >
            <i class="fa-solid fa-plus fa-6x text-white"></i>
          </figcaption>
        </figure>
      </div>
      }
    </div>
  </div>
</section>

@if (isModel) {
<div
  (click)="closeModel($event.target, img)"
  class="model position-fixed d-flex justify-content-center align-items-center top-0 start-0 bottom-0 end-0 w-100 h-100 bg-primary bg-opacity-25"
>
  <img #img [src]="imgSrc" width="600" alt="photo" />
  <i
    class="fa-regular fa-circle-xmark fa-2x text-white ms-3"
    (click)="close()"
  ></i>
</div>
}
