<section
  class="bg-sec h-90 d-flex justify-content-center align-items-center flex-column"
>
  <app-star [dataFromParent]="title"></app-star>
  <div class="container">
    <div class="row text-white">
      <div class="col-md-6 ps-5">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6 ps-5">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
