<footer class="bg-main text-white">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-4 text-center">
        <h3 class="text-uppercase">LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">AROUND THE WEB</h3>
        <ul
          class="list-unstyled d-flex justify-content-center align-items-center column-gap-4"
        >
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fa-brands fa-twitter"></i></li>
          <li><i class="fa-brands fa-linkedin"></i></li>
          <li><i class="fa-solid fa-globe"></i></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="text-uppercase">ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="bg-footer text-white text-center py-3">
  <p>Copyright © Your Website 2024</p>
</div>
